{if !isMobile()}
<ul id="tree" class="ztree">
</ul>
{/if}



<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            {$content}
        </div>

        <div id="pin">
            <ul class="list-group col-lg-3 pull-right">
                <li class="list-group-item">免费域名注册</li>
                <li class="list-group-item">免费 Window 空间托管</li>
                <li class="list-group-item">图像的数量</li>

                <li class="list-group-item">
                    <ul class="list-group col-lg-3 pull-right">
                        <li class="list-group-item">免费域名注册</li>
                        <li class="list-group-item">免费 Window 空间托管</li>
                        <li class="list-group-item">图像的数量</li>
                        <li class="list-group-item">24*7 支持</li>
                        <li class="list-group-item">每年更新成本</li>
                    </ul>
                </li>
                <li class="list-group-item">24*7 支持</li>
            </ul>
        </div>
